{% extends 'game/main.html' %}
{% load game_parts %}

{% block title %}Pridaj duel{% endblock %}

{% block style %}
    {{ block.super }}
    #id_winner, #id_loser {
        overflow: hidden;
    }
    #add-duel-btn {
        width: 100%;
    }
    .group-1:before {
        background-color: rgba(44, 160, 44, 1.0); // green
    }
    .group-2:before {
        background-color: rgba(31, 119, 180, 1.0); // blue
    }
    .group-3:before {
        background-color: rgba(214, 39, 40, 1.0); // red
    }
    .group-4:before {
        background-color: rgba(255, 127, 14, 1.0); // orange
    }
    .group-5:before {
        background-color: rgba(148, 103, 189, 1.0); // purple
    }
    .group-6:before {
        background-color: rgba(140, 86, 75, 1.0); // brown
    }
    option:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid white;
        margin-right: 5px;
    }
{% endblock %}

{% block content %}
<h1>Add duel</h1>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form id="add_duel_form" method="post" action="/game/add_duel/">
    {% csrf_token %}
    <div class="row">
        <div class="col col-md-12">
            <div class="form-group">
                <label for="id_game">Game</label>
                {{ form.game }}
            </div>
            {% if form.game.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.game.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="id_winner">Winner</label>
                <select class="form-control" id="id_winner" name="winner" size={{ form.winner | length }}>
                    {% for winner in form.winner %}
                        {% with group=people_groups|get_key:winner.data.value %}
                            <option
                                value="{{ winner.data.value }}"
                                {% if winner.data.attrs.selected %}selected{% endif %}
                                class="group-{{ group }}"
                            >{{ winner.data.label }}</option>
                        {% endwith %}
                    {% endfor %}
                <select>
            </div>
            {% if form.winner.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.winner.errors }}
                </div>
            {% endif %}
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="id_loser">Loser</label>
                <select class="form-control" id="id_loser" name="loser" size={{ form.loser | length }}>
                    {% for loser in form.loser %}
                        {% with group=people_groups|get_key:loser.data.value %}
                            <option
                                value="{{ loser.data.value }}"
                                {% if loser.data.attrs.selected %}selected{% endif %}
                                class="group-{{ group }}"
                            >{{ loser.data.label }}</option>
                        {% endwith %}
                    {% endfor %}
                <select>
            </div>
            {% if form.loser.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.loser.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button type="submit" class="btn btn-primary btn-lg" id="add-duel-btn">Add Duel</button>
        </div>
    </div>
</form>

<h1>Duely za posledných 5 minút</h1>
<table class="table">
    <thead>
        <th>#</th>
        <th>Timestamp</th>
        <th>Game</th>
        <th>Winner</th>
        <th>Loser</th>
        <th class="text-center">Remove</th>
    </thead>
    <tbody>
        {% for duel in duels %}
            <tr>
                <td>{{ duel.id }}</td>
                <td>{{ duel.timestamp }}</td>
                <td>{{ duel.game }}</td>
                <td>{{ duel.winner }}</td>
                <td>{{ duel.loser }}</td>
                <td class="text-center">
                    <form
                        id="remove_duel_{{duel.id}}_form"
                        method="post"
                        action="/game/remove_duel/{{ duel.id }}/"
                    >
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-xs" name="remove-duel">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
