{% extends 'game/main.html' %}

{% block title %}Pridaj duel{% endblock %}

{% block style %}
    {{ block.super }}
    #id_winner {
        background-color: rgba(44, 160, 44, 0.4); // green
    }
    #id_loser {
        background-color: rgba(214, 39, 40, 0.4); // red
    }
    #id_winner, #id_loser {
        overflow: hidden;
    }
    #add-duel-btn {
        width: 100%;
    }
{% endblock %}

{% block content %}
<h1>Add duel</h1>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form id="add_duel_form" method="post" action="/game/add_duel/">
    {% csrf_token %}
	<div class="row">
		<div class="col col-md-12">
            <div class="form-group">
                <label for="id_game">Game</label>
                {{ form.game }}
            </div>
            {% if form.game.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.game.errors }}
                </div>
            {% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col col-md-6">
            <div class="form-group">
                <label for="id_winner">Winner</label>
                {{ form.winner }}
            </div>
            {% if form.winner.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.winner.errors }}
                </div>
            {% endif %}
		</div>
		<div class="col col-md-6">
            <div class="form-group">
                <label for="id_loser">Loser</label>
                {{ form.loser }}
            </div>
            {% if form.loser.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.loser.errors }}
                </div>
            {% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col col-md-12">
			<button type="submit" class="btn btn-primary btn-lg" id="add-duel-btn">Add Duel</button>
		</div>
	</div>
</form>
{% endblock %}
