{% extends 'game/main.html' %}
{% load game_parts %}

{% block title %}Body{% endblock %}
{% block style %}
    {{ block.super }}
    .group-1 {
        background-color: rgba(44, 160, 44, 0.4); // green
    }
    .group-2 {
        background-color: rgba(31, 119, 180, 0.4); // blue
    }
    .group-3 {
        background-color: rgba(214, 39, 40, 0.4); // red
    }
    .group-4 {
        background-color: rgba(255, 127, 14, 0.4); // orange
    }
    .group-5 {
        background-color: rgba(148, 103, 189, 0.4); // purple
    }
    .group-6 {
        background-color: rgba(140, 86, 75, 0.4); // brown
    }
    table.table-bordered{
        border: 1px solid #7f7f7f;
    }
    table.table-bordered > thead > tr > th{
        border: 1px solid #7f7f7f;
    }
    table.table-bordered > tbody > tr > td{
        border: 1px solid #7f7f7f;
    }
{% endblock %}

{% block content %}
    {% if error is not None %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <h3>Body</h3>
        <table class="table groups text-center">
            <tr>
            {% for code, name in groups %}
                <td class="group-{{ code }}">
                    {{ name }}
                </td>
            {% endfor %}
            </tr>
        </table>
        <table class="table table-condensed table-bordered">
            <thead>
                <th class="text-right">#</th>
                <th>Meno</th>
                {% for game in games %}
                    <th class="text-center">{{ game.name }}</th>
                {% endfor %}
                <th class="text-center">Súčin</th>
            </thead>
            <tbody>
                {% for person in people %}
                    {% with row=points|get_key:person.id %}
                        <tr class="group-{{ person.group }}">
                            <td class="text-right">{{ row.order }}</td>
                            <td>{{ person }}</td>
                            {% for game in games %}
                                <td class="text-center">
                                    {{ row | get_key:game.id }}
                                </td>
                            {% endfor %}
                            <td class="text-right"><b>{{ row.product }}</b></td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
